.profile .am-result {
    padding-top: 25px;
    padding-bottom: 15px;
}
.profile .am-result-title{
    margin-top: 0px;
}
.profile .am-result-button .am-button {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #108ee9;
    background-color: transparent;
    border: 1PX solid #108ee9;
    border-radius: 5px;
    font-size: 13px;
    padding: 0 15px;
}
.profile .vertical-adjust {
    margin-top: -1px;
}
.profile .am-result-button {
    margin-top: 5px;
}
.profile .logout  {
    position: fixed;
    bottom: 80px;
    width: 100%;
}
.profile-intro .am-list-content, .profile-intro .am-list-brief {
    white-space: normal!important;
} 
.profile-intro .am-list-body {
    height: 250px;
    overflow: auto;
}